@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 251 32% 16%;
    --foreground: 210 40% 98%;
    --card: 251 32% 16%;
    --card-foreground: 210 40% 98%;
    --popover: 251 32% 16%;
    --popover-foreground: 210 40% 98%;
    --primary: 217 100% 28%;
    --primary-foreground: 210 40% 98%;
    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;
    --muted: 261 28% 22%;
    --muted-foreground: 215 20.2% 75.1%;
    --accent: 348 100% 47.5%;
    --accent-foreground: 355.7 100% 97.3%;
    --sidebar-accent: 348 100% 47.5%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
    --border: 261 28% 25%;
    --input: 261 28% 25%;
    --ring: 217 100% 28%;
    --radius: 0.5rem;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
 
  .dark {
    --background: 251 32% 16%;
    --foreground: 210 40% 98%;
    --card: 251 32% 16%;
    --card-foreground: 210 40% 98%;
    --popover: 251 32% 16%;
    --popover-foreground: 210 40% 98%;
    --primary: 217 100% 28%;
    --primary-foreground: 210 40% 98%;
    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;
    --muted: 261 28% 22%;
    --muted-foreground: 215 20.2% 75.1%;
    --accent: 348 100% 47.5%;
    --accent-foreground: 355.7 100% 97.3%;
    --sidebar-accent: 348 100% 47.5%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
    --border: 261 28% 25%;
    --input: 261 28% 25%;
    --ring: 217 100% 28%;
    --radius: 0.5rem;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}
 
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
